box:hover.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: #FFAAAACC;
    border-radius: 12px;
    padding: 12px;
    outline-color: white;
}
button:hover.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: #FFAAAACC;
    border-radius: 12px;
    color: #00003f;
    outline-color: transparent;
}

box.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: transparent;
    border-radius: 12px;
    padding: 12px;
    outline-color: transparent;
}
box.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: transparent;
    border-radius: 12px;
    color: #00003f;
    outline-color: transparent;
}

button.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: transparent;
    border-radius: 12px;
    color: white;
    outline-color: transparent;
}


button:hover.popover_menu {
    transition: 300ms;
    border-width: 0px;
    background: #FFAAAACC;
    border-radius: 12px;
    color: #00003f;
    outline-color: #00003f;
}

button.popover_menu {
    transition: 300ms;
    border-width: 0px;
    background: transparent;
    border-radius: 12px;
    color: #00003f;
    outline-color: #00003f;
}

list.popover_menu {
    background: transparent;
    outline-color: #00003f;
}

entry.dock_plugin_uwu {
    border-radius: 12px;
    background: pink;
    color: #00003f;
    border-color: white;
    outline-color:white;
}

label.dock_popover_title {
    border-radius: 12px;
    padding: 8px;
    background: pink;
    border-color: white;
    border-width: 4px;
    outline-color:white;
    color: #00003f;
}

popover.dock contents {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: white;
    border-color: pink;
}

popover.dock arrow {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: white;
    border-color: pink;
}

box.dock {
    border-radius: 12px;
    /* padding: 12px; */
    background: #4F0040DD;
}

separator.dock_separator {
    background: #FFFFFF88;
}

list.popover_menu {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: transparent;
}

box.popover_menu {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: transparent;
}
